/* <palette>
  <color name="Poppy" hex="da2c38" r="218" g="44" b="56" />
  <color name="Dark spring green" hex="226f54" r="34" g="111" b="84" />
  <color name="Pistachio" hex="87c38f" r="135" g="195" b="143" />
  <color name="Lemon chiffon" hex="f4f0bb" r="244" g="240" b="187" />
  <color name="Bistre" hex="43291f" r="67" g="41" b="31" />
</palette> */




body {
    font-family: Helvetica, sans-serif;
    text-align: center; 
    max-width: 900px;
    margin: 0 auto;
    margin-top: 3px;
    background-color: #A7C957;
    background-image: url("./img/bg.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    background-attachment: fixed;
    overflow-y: scroll;
}



.kontener {
  border-color: #0a090c;
  background-color: #F2E8CFCC;
  border: 12px;
  border-style: hidden;
  border-color: #086641;
  padding: 8px 8px;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 42px;
  font-weight: 900;
  font-style: oblique;
  border: 1px;
  border-style: hidden;
  border-color:#0a090c;
  margin: 0;
  width: 100%;
  padding: 8px 0;
  background-color: #086641;
  color: #f0edee;
  margin-bottom: 8px; 
  text-transform: uppercase;
  letter-spacing: 12px;
  background-image: linear-gradient(90deg, #902B27,#AE4541);
  border-radius: 15px 15px 0px 0px;

}

h2 {
  padding: 10px;
  margin: 6px 0 0 0;
  font-size: 26px;
  color:#f0edee;
  background-image: linear-gradient(90deg, #086641,#6A994E);  
}

p {
  padding: 0;
  margin: 0;
  border: 0;
}

p.dolewej {
  padding: 10px 16px;

}


.lorem {
  text-align: justify;
  margin-top: 2px;
  font-size: 16px;  
}

.italics {
  font-style: italic;
}
.bolds {
  font-weight: 700;
}


p.choose {
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transform: rotate(-2deg);
  margin: 36px;
  letter-spacing: 2px;
  font-style: italic;
  font-weight: 900;
  background: -webkit-linear-gradient(12deg, #086641, #6A994E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  color:#6A994E;


}

.listaprzepisy {
  list-style-position: inside;
  padding: 0px;
  margin-bottom: 16px;
  display: flex;
  margin-top: 4px;
  
}

.przepis {
  display:block;
  list-style-type: none;
  border: 1px;
  border-style: solid;
  border-top: 0;
  border-bottom: 0;;
  margin: -1px auto;
  margin-left: 0; 
  border-color: #F2E8CFFF;
  font-weight: 800;
  text-transform: uppercase;
  flex: 1;
  background-color: #6A994E;
  color: #f0edee;
}


img {
  max-width: 100%;
  height: 500px;
  padding:0;
  margin-bottom:8px;
  border:0;
  object-fit: cover;
  object-position: center;

  
}

li a {
  text-decoration: none;
  color: #f0edee;
  font-size: 24px;
  text-align: auto;
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}

a.rlink{
  font-weight: 900;
  color: inherit;
  text-decoration: none;

}

.rlink:hover {
  font-style: italic;
}

li a:hover {
  font-weight: 1000;
  color:#0a090c;
  -webkit-text-stroke-width: 7px;
  -webkit-text-stroke-color: #BC4749;
  -webkit-text-fill-color: #f0edee;
  paint-order: stroke fill;
}

.przepis:hover {
  font-weight: 800;
  background-position: center;
  background-size: 100%;
  /* transform: rotate(-6deg); */
  letter-spacing: 5px;
}

li.przepis.pizza:hover{
  background-image: url("./img/pizza.png");
  background-color: hsl(39, 100%, 67%);  
  /* color:#0a090c; */
}

.przepis.lasagna:hover {
  background-image: url("./img/lasagna.png");
  background-color: hsl(0, 100%, 67%);  
}
.przepis.burger:hover {
  background-image: url("./img/burger.png");
  background-color: hsl(123, 100%, 67%);  
}

.pepe {
  color: #f0edee;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  padding: 10px;
  background-color: #6A994E;
  /* margin-top: 10px; */
  margin-bottom: 0;
}

.dolewej {
  text-align: left;
  background-color: #CDD993;
  padding: 40px auto;  
  margin-top: 0;
  padding-top: 8px;
  margin-bottom: 12px;
  padding-bottom: 12px;
}

.ostatni{
  border-radius: 0 0 15px 15px;
  margin-bottom: 0;
}
h3.dolewej {
  padding: 12px;
  margin: auto;
  margin-bottom: 8px;
}

.dolewej li{
  padding: 4px 0;
  margin: 0 14px 0 5px; 
}

.btngoback{
  margin-top: 12px;
  margin-bottom: 4px;
}

a.goback {
  text-decoration: none;
  color: #086641;
  border: 1px;
  border-style: solid;
  padding: 5px;
  background-color: #CDD993;
  text-align: auto; 
  display: inline;
  margin-bottom: 8px;
  margin-top: 10px;
}

a.goback:hover {
  /* font-weight: 800; */
  color: #086641;
  border: 5px;
  border-style: solid;
}


@media (max-width: 700px) {
  /* ul li,
  li a,
  a, */
  .listaprzepisy{
    display: block;
    padding: 5px;
    margin: auto;
  } 
}
